WebClient/Web References/TermSVC/TermService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="rememberMe" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="verify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="rememberMe" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="verify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateNewAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteNewFileToStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="filecontent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="accEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteNewFileToStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WriteNewFileToStorageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="filecontent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="accEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminUpdateAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="capacity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adminemail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminUpdateAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdminUpdateAccountInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="end" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfoWithEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfoWithEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountInfoWithEmailResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountWithEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adminemail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountWithEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAccountWithEmailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountLevelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactivateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="useremail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adminemail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactivateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeactivateAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccounts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAccountsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteStorageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseStorageSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseStorageSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IncreaseStorageSizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInactiveFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInactiveFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInactiveFilesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestoreFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestoreFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewAccountSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewAccount" />
  </wsdl:message>
  <wsdl:message name="CreateNewAccountSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewAccountResponse" />
  </wsdl:message>
  <wsdl:message name="WriteNewFileToStorageSoapIn">
    <wsdl:part name="parameters" element="tns:WriteNewFileToStorage" />
  </wsdl:message>
  <wsdl:message name="WriteNewFileToStorageSoapOut">
    <wsdl:part name="parameters" element="tns:WriteNewFileToStorageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFile" />
  </wsdl:message>
  <wsdl:message name="UpdateFileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="AdminUpdateAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AdminUpdateAccountInfo" />
  </wsdl:message>
  <wsdl:message name="AdminUpdateAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AdminUpdateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoWithEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountInfoWithEmail" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoWithEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountInfoWithEmailResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountWithEmailSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccountWithEmail" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountWithEmailSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountWithEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountLevelSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountLevel" />
  </wsdl:message>
  <wsdl:message name="GetAccountLevelSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountLevelResponse" />
  </wsdl:message>
  <wsdl:message name="DeactivateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeactivateAccount" />
  </wsdl:message>
  <wsdl:message name="DeactivateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeactivateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileData" />
  </wsdl:message>
  <wsdl:message name="GetFileDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileDataResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStorageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteStorage" />
  </wsdl:message>
  <wsdl:message name="DeleteStorageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IncreaseStorageSizeSoapIn">
    <wsdl:part name="parameters" element="tns:IncreaseStorageSize" />
  </wsdl:message>
  <wsdl:message name="IncreaseStorageSizeSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseStorageSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetInactiveFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetInactiveFiles" />
  </wsdl:message>
  <wsdl:message name="GetInactiveFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetInactiveFilesResponse" />
  </wsdl:message>
  <wsdl:message name="RestoreFileSoapIn">
    <wsdl:part name="parameters" element="tns:RestoreFile" />
  </wsdl:message>
  <wsdl:message name="RestoreFileSoapOut">
    <wsdl:part name="parameters" element="tns:RestoreFileResponse" />
  </wsdl:message>
  <wsdl:portType name="TermServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewAccount">
      <wsdl:input message="tns:CreateNewAccountSoapIn" />
      <wsdl:output message="tns:CreateNewAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteNewFileToStorage">
      <wsdl:input message="tns:WriteNewFileToStorageSoapIn" />
      <wsdl:output message="tns:WriteNewFileToStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <wsdl:input message="tns:UpdateFileSoapIn" />
      <wsdl:output message="tns:UpdateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminUpdateAccountInfo">
      <wsdl:input message="tns:AdminUpdateAccountInfoSoapIn" />
      <wsdl:output message="tns:AdminUpdateAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input message="tns:GetTransactionsSoapIn" />
      <wsdl:output message="tns:GetTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <wsdl:input message="tns:UpdateAccountInfoSoapIn" />
      <wsdl:output message="tns:UpdateAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoWithEmail">
      <wsdl:input message="tns:GetAccountInfoWithEmailSoapIn" />
      <wsdl:output message="tns:GetAccountInfoWithEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountWithEmail">
      <wsdl:input message="tns:DeleteAccountWithEmailSoapIn" />
      <wsdl:output message="tns:DeleteAccountWithEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountLevel">
      <wsdl:input message="tns:GetAccountLevelSoapIn" />
      <wsdl:output message="tns:GetAccountLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateAccount">
      <wsdl:input message="tns:DeactivateAccountSoapIn" />
      <wsdl:output message="tns:DeactivateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input message="tns:GetAllAccountsSoapIn" />
      <wsdl:output message="tns:GetAllAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <wsdl:input message="tns:GetFileDataSoapIn" />
      <wsdl:output message="tns:GetFileDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStorage">
      <wsdl:input message="tns:DeleteStorageSoapIn" />
      <wsdl:output message="tns:DeleteStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseStorageSize">
      <wsdl:input message="tns:IncreaseStorageSizeSoapIn" />
      <wsdl:output message="tns:IncreaseStorageSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInactiveFiles">
      <wsdl:input message="tns:GetInactiveFilesSoapIn" />
      <wsdl:output message="tns:GetInactiveFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RestoreFile">
      <wsdl:input message="tns:RestoreFileSoapIn" />
      <wsdl:output message="tns:RestoreFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TermServiceSoap" type="tns:TermServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewAccount">
      <soap:operation soapAction="http://tempuri.org/CreateNewAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteNewFileToStorage">
      <soap:operation soapAction="http://tempuri.org/WriteNewFileToStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap:operation soapAction="http://tempuri.org/UpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUpdateAccountInfo">
      <soap:operation soapAction="http://tempuri.org/AdminUpdateAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoWithEmail">
      <soap:operation soapAction="http://tempuri.org/GetAccountInfoWithEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountWithEmail">
      <soap:operation soapAction="http://tempuri.org/DeleteAccountWithEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountLevel">
      <soap:operation soapAction="http://tempuri.org/GetAccountLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateAccount">
      <soap:operation soapAction="http://tempuri.org/DeactivateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap:operation soapAction="http://tempuri.org/GetFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStorage">
      <soap:operation soapAction="http://tempuri.org/DeleteStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseStorageSize">
      <soap:operation soapAction="http://tempuri.org/IncreaseStorageSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInactiveFiles">
      <soap:operation soapAction="http://tempuri.org/GetInactiveFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreFile">
      <soap:operation soapAction="http://tempuri.org/RestoreFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TermServiceSoap12" type="tns:TermServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewAccount">
      <soap12:operation soapAction="http://tempuri.org/CreateNewAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteNewFileToStorage">
      <soap12:operation soapAction="http://tempuri.org/WriteNewFileToStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap12:operation soapAction="http://tempuri.org/UpdateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUpdateAccountInfo">
      <soap12:operation soapAction="http://tempuri.org/AdminUpdateAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap12:operation soapAction="http://tempuri.org/GetTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfoWithEmail">
      <soap12:operation soapAction="http://tempuri.org/GetAccountInfoWithEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountWithEmail">
      <soap12:operation soapAction="http://tempuri.org/DeleteAccountWithEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountLevel">
      <soap12:operation soapAction="http://tempuri.org/GetAccountLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateAccount">
      <soap12:operation soapAction="http://tempuri.org/DeactivateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap12:operation soapAction="http://tempuri.org/GetFileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStorage">
      <soap12:operation soapAction="http://tempuri.org/DeleteStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseStorageSize">
      <soap12:operation soapAction="http://tempuri.org/IncreaseStorageSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInactiveFiles">
      <soap12:operation soapAction="http://tempuri.org/GetInactiveFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreFile">
      <soap12:operation soapAction="http://tempuri.org/RestoreFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TermService">
    <wsdl:port name="TermServiceSoap" binding="tns:TermServiceSoap">
      <soap:address location="http://localhost:4608/TermService.asmx" />
    </wsdl:port>
    <wsdl:port name="TermServiceSoap12" binding="tns:TermServiceSoap12">
      <soap12:address location="http://localhost:4608/TermService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>